/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

  /*    UTILITY   */

  .flex {
   display: flex;
  }
  
   .f-space-between {
   justify-content: space-between
  }
   
  .container-80 { 
   margin: 0 auto;
   width: 80%
  }

  ul li{

   margin-right: 40px;
   list-style: none;
   color: white;
   font-family: sans-serif;
   font-size: larger;
  }
  
/*    HEADER */

header {

   background-image: url('../img/jumbo.png');
   padding-top: 20px;
   background-position: center;
   background-size: cover;

}

nav {

   margin-top: 10px;
   align-items: center;

}

button {
   border-radius: 50px;
   font-weight: bold;
   border-radius: 50px;
   padding: 15px;
   font-size: inherit;
   border-style: none;
   cursor: pointer;
}

header div {
   margin: 0 auto;
   width: 60%;
   text-align: center;
   margin-top: 110px;
   padding-bottom: 8%;
}

.white {
   color: white;
}

h1 {
   margin: 30px;
    font-size: xxx-large;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 15px;
}

.buttblack {
   color: white;
   background-color: #1a2c51;
   margin-left: 20px;
}

        /* MAIN  */

.imgtext {
   display: flex;
   flex-direction: column;
   margin-left: 30px;
}      

section {
   padding: 10%;
}

.backgroundgrey {
   background-color: #eeeeee;
}

.align {
   text-align: center;
}

.purple {
   background-color: rgb(88,101,242);
   color: white;
}


       /* FOOTER */

 footer {

   background-color: rgb(35,39,42);
 }

 .column {
   flex-direction: column;
 }

 h2 {
   color:  rgb(88,101,242);
   font-family: sans-serif;
 }

 ul {
   color:  rgb(88,101,242);
   font-family: sans-serif;
 }

 .border {
   border-bottom: 1px solid rgb(88,101,242) ;
 }

 .margin {
   margin-top: 20px;
 }